<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>entrance</title>
    </head>
    <body>
<!--        ${currentPath}-->

<!--        <form th:method="post" th:action="@{/login}" th:object="${userLoginForm}">-->
<!--            <label>-->
<!--                <img th:src="*{'data:realCaptcha/jpg;base64,'+ realCaptcha}"/>-->
<!--            </label>-->

<!--            <br/>-->

<!--            <label>Введите код с картинки-->
<!--                <input type="hidden" th:field="*{hiddenCaptcha}" />-->
<!--                <input type="text" th:field="*{captcha}" class="form-control"/>-->
<!--            </label>-->

<!--            <br/>-->
<!--        </form>-->
    </body>
</html>