<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <session-config>
        <cookie-config>
            <name>y12AME6Y99tOoMx8e2CZGGzeYLbkR2GcQZ4fkldYqCvtKMiQkktBQee</name>
        </cookie-config>
    </session-config>
</web-app>

